
body {
  margin:0;
  color: #bebebe;
  background-color: #111;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #fc0;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  color: #e5e5e5;
}

.banner {
  background-color: #2b2b2b;
  padding: 1rem;
  text-align: center;
  border-bottom: solid 1px #202020;
  background-image: url(/assets/bg.jpeg);
  box-shadow: 0 5px 5px rgb(0,0,0);
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-size: cover;
}

.banner h1 {
  color: #fc0;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 1rem;
  text-shadow: 3px 3px rgba(0,0,0,.8);
}

.content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #151515;
  padding: 160px 3rem 3rem 3rem;
  margin-bottom: 3rem;
  border-radius: 0 0 1rem 1rem;
  border-right: solid 1px #353535;
  border-bottom: solid 1px #353535;
  border-left: solid 1px #353535;
  box-shadow: 3px 3px 8px rgba(0,0,0,.8);
}

.content .copyright {
  text-align: center;
  color: #999;
  margin-top: 4rem;
  margin-bottom: -2rem;
}
