
body {
  margin:0;
  color: #ddd;
  background-color: #333;
}

.banner {
  background-color: #2b2b2b;
  padding: 3rem;
  text-align: center;
  border-bottom: solid 1px rgb(0,0,0);
  position: relative;
}

.banner h1 {
  color: #fc0;
}

@keyframes swosh {
  0% {
    margin-left: 2000px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

.banner .description {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  animation: swosh .5s ease-out .5s 1 normal forwards;
  opacity: 0;
}

.content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #444;
}
