<!DOCTYPE html>
<html lang="en">
  <head>
{% include head.html %}
  </head>
  <body>

    <div class="banner" id="banner">

      {% if site.mwr and site.mwr_text %}
      <span class="mwr">
        <a href="{{ site.mwr }}">{{ site.mwr_text }}</a>
      </span>
      {% endif %}

      <div class="logo"><a href="/">{{ site.title }}</a></div>
      <span class="description">{{ site.description }}</span>

      {% if site.nav_sections %}
      <a href="#" class="menu-btn" onclick="toggleMenu(event);">
        <img src="/assets/menu.svg" alt="Toggle menu">
      </a>
      <nav class="sections">
        {% for idxSection in site.nav_sections %}
        <div class="section">
          <h1 class="section-title">{{ idxSection.name }}</h1>
          <ul class="nav">
            {% for idxItem in idxSection.items %}
            <li><a href="{{ idxItem.url }}">{{ idxItem.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
        <div class="creative">
          Created by <a href="https://polterguy.github.io">Aista, Ltd</a>
        </div>
      </nav>
      {% endif %}

    </div>

    <div class="content">
      <main>{{ content }}</main>
      <div class="copyright">{{ site.copyright }}</div>
    </div>

  </body>
</html>
