<!DOCTYPE html>
<html lang="en">
  <head>
{% include head.html %}
  </head>
  <body>

    <div class="banner">

      {% if site.mwr and site.mwr_text %}
      <span class="mwr">
        <a href="{{ site.mwr }}">{{ site.mwr_text }}</a>
      </span>
      {% endif %}

      <div class="logo"><a href="/">{{ site.title }}</a></div>
      <span class="description">{{ site.description }}</span>

      <h3>Getting Started</h3>
      <ul>
        {{ site.docs.size }}
        {{ site.tutorials.size }}
        {% for doc in site.docs %}
          {% if doc.category == "tutorials" %}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

    </div>

    <div class="content">
      {{ content }}
      <div class="copyright">{{ site.copyright }}</div>
    </div>

  </body>
</html>
